

/* common css */

*{
    margin: 0;
    padding: 0;
}

.primary-text{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 550;
    padding-bottom: 8px;
}

.primary-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.primary-description{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}




/* header part*/

header{
    text-align: center;
}

.banner{
    position:relative;
    height: 500px;
    margin: 50px 140px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0)), url(resources/Banner\ Image.png);
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    overflow: hidden;
}

.banner-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-title{
    font-size: 32px;
    font-weight: 400;   
}

.banner-title-description{
font-size: 72px;
font-weight: 900;
width: 800px;
margin: 20px auto;
}




/* Body Section-1 */

.section1 img{
    text-align: center;
    padding: 50px 260px 120px;
    
}

.section1{
align-items: center;
padding-top: 140px;
}

.section1-text{
    color: #F00;
    text-align: center;
    font-family: Inter;
}

.discount-off{
    font-size: 88px;
    font-weight: 700;
}

.discount-off-description{
    font-size: 24px;
    font-weight: 500;
    margin-top: 40px;
}

.categories{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-top: 8px;
}




/* section 2*/

.section2{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0)), url(resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 140px 120px;
    border-radius: 25px;
}

.section2-all-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 120px;
}

.welcome{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
}

.welcome-description{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 300;
    margin-top: 30px;
    margin-right: 100px;
    line-height: 30px;
}

.section2-button{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background-color: transparent;
    border: none;
    padding-top: 40px;
    padding-left: 40px;
}




/* section3 */
.sec3{
    padding: 0px 140px 120px;
}

#place{
    color: #F00;
}

.section3{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 650;
    line-height: 56px;
    text-align: center;
    padding-top: 120px;
    background: linear-gradient(to top,rgb(255, 255, 255), rgb(252, 233, 233));
    height: 350px;
    border:140px;
    border-radius: 20px;
}

.section3-text{
    margin-bottom: 50px;
}

.btn-section3{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #F00;
    border: none;
    padding: 16px 32px;
}




/* section 4 */

.sec4{
    margin: 0px 120px;
}

.section4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.section4-left{
    text-align: left;
    max-width: px;
}

.section4-left p{
    padding-top: 10px;
}

.section4-middle div{
    display: flex;
}

#image-for-section4{
    border: 15px solid red;
    padding: 5px;
    border-radius: 50%;
    padding: 30px;
}

.section4-right-year{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 18px;
}

.section4-right p{
    padding-bottom: 30px;
}

.section4-right img{
    width: 140px;
    height: 140px;
}




/* section5 */

.section5{
    text-align: center;
    margin: 120px 140px 0px;
}

.section5-functional{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.section5-holiday-sale{
    margin-top: 15px;
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.section5 p{
    margin: 15px 60px 0px;

}





/* section 7*/

.section7{
    margin-top: 120px;
}

.section7-text{
    padding: 0px 140px 12px;
}

.section7-text-heading{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.section7 p{
    width: 896px;
    padding-top: 20px;
}

.section7-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.for-img-section7{
    box-sizing: border-box;
    padding: 12px;
    width: 33.33%;
    height: 30%;
}

.section7-down{
    padding: 0px 128px;
    box-sizing: border-box;
}




/*  section  8*/
.section8{
    padding: 120px 140px;
    box-sizing: border-box;
    
}
.section8-text{
    justify-content: center;
    text-align: center;
    background: rgba(255, 0, 0, 0.05);
    width: 100%;
    height: 616px;
    border-radius: 16px;
   
}

.section8-text img{
    padding-top: 80px;
}

.section8-text p{
    padding: 0px 212px;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

form{
    width: 648px;
    height: 72px;
    display: flex;
}
form input{
    flex: 1;
    border: none;
    outline: none; 
    border-radius: 50px;
    background: #FFF;
    border-radius: 50px 0px 0px 50px;
    padding-left: 40px;
    font-size: 18px;
    font-family: Inter;
 }

form button{
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding: 10px 50px;
    outline: none;
    border: none;
    color: #FFF ;
    cursor: pointer;
    width: 210px;
    height: 72px;
    font-family: Inter;
    font-size: 20px;

}
form button:hover{
    background-color: rgb(255, 65, 65);
}


.section8-text>.primary-description{
    padding-top: 22px;
}

.section8-text>.primary-title{
    padding-top: 40px;
}




/*  footer  */

.part1{
    display: flex;
    justify-content: space-between;
    padding: 120px 140px 20px;
}
.footer{
    background-color: #070211;
    width: 100%px;
    height: 610px;
}

.footer-text{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
}

.part1-left{
    width: 375px;
    height: 80px;
    text-align: left;
}

.part1-right img{
    width: 24px;
    height: 24px;
    padding-right: 20px;
}
.part1-right-phone{
    display: flex;  
    align-items: center;
}

.part1-right-website{
    display: flex;  
    align-items: center;
}

.part2 img{
    margin: 12px;
    width: 48px;
    height: 48px;
}

.part2{
    margin: 0px 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px ridge rgba(255, 255, 255, 0.15);
    padding: 36px 0px;
    border-left: 0;
    border-right: 0;
}

.part3{
    display: flex;
    justify-content: space-between;

}

.part3>.footer-text{
    padding: 50px 140px 120px;

}